body {
    background-color: rgb(77, 64, 59);
    color: blanchedalmond;
}
a {
    color: blanchedalmond;
    margin-bottom: 50px;
}
.scan {
    display: none;
}
button {
    margin-bottom: 5px;
}

.fund {
    display: none;
}
h3 {
    margin-bottom: 5px;
}